#page-wrapper
	.row
		.col-lg-12
			h1
				| #{subtitle}
				small A Blank Slate
			ol.breadcrumb
				li
					a(href='index.html')
						i.icon-dashboard
						| Dashboard
				li.active
					i.icon-file-alt
					| #{subtitle}

block pageScripts
	script(src='js/jquery-1.10.2.js')
	script(src='js/bootstrap.js')